<!-- <a  class="list-group-item clearfix" (click)="onSelected()" style="cursor: pointer;"></a> -->
<a  class="list-group-item clearfix" [routerLink]="[index]" routerLinkActive="active" style="cursor: pointer;">
           <div class="pull-left">
               <h4 class="list-group-item-heading">{{recipeItem.name}}</h4>
               <p class="list-group-item-text">{{recipeItem.desc}}</p>
           </div>
           <span class="pull-right">
               <img src="{{recipeItem.image}}" class="img-responsive" style="height: 50px; width: 50px;">
           </span>
</a>
