<div class="row">
    <div class="col-xs-12">
        <form #form="ngForm" (ngSubmit)="onAddItem()">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="Name">Name</label>
                    <input type="text" 
                           id="name" 
                           class="form-control"
                           ngModel
                           name="name"
                           required
                           #inputName>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="Name">Amount</label>
                    <input type="number"
                           id="number"
                           class="form-control"
                           name="amount" 
                           ngModel
                           required
                           pattern="^[1-9]+[0-9]*$"
                           #inputNumber>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <!-- <button class="btn btn-success" (click)="addItem()">Add</button> -->
                    <button class="btn btn-success mt-5" type="submit" [disabled]="!form.valid">{{editMode?'Update':'Add'}}</button>
                    <button class="btn btn-danger " type="button" (click)="onDelete()" *ngIf="editMode">Delete</button>
                    <button class="btn btn-success" type="button" (click)="onClear()" [disabled]="!form.valid">Clear</button>
                </div>
            </div>
        </form>
    </div>

</div>
